.alt-header {
  color: green;
}

.about-page { 
	width: 100%;
	height: 100%;
	background-color: black;
	display: flex;
  flex-direction: column;
}

.about-page > .page-header { 
	height: 10%;
	width: 100%;
    font-size: 6vh;
    /* color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-page > .page-content { 
    height: 90%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.about-page > .page-content > .left-content { 
	 height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-page > .page-content > .left-content > .image-container { 
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    display: flex;
}

.about-page > .page-content > .left-content > .image-container > .content { 
    width: 100%;
}

.about-page > .page-content > .right-content {
    overflow-y: scroll; 
	 height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.about-image {
    max-height: 100%;
    width: auto;
    height: 100%;
}

.about-page > .page-content > .right-content > .text-container {
      font-family: "Helvetica Neue";
    line-height: 4vh;
    font-size: 2.5vh;
    text-align: center; 
    width: 50%;
    height: 50%;
    color: white;
    background-color: black;
    font-size: 2.5vh;
    line-height: 4vh;
    width: 80%;
}

/** 
 * iPad with portrait orientation.
 */
@media all and (max-device-width: 769px) and (max-device-height: 1024px) and (orientation:portrait){
	.about-page > .page-content > .left-content { 
		height: 100%;
		width: 100%;
		background-color: transparent;
    justify-content: center;
	}

	.about-page > .page-content > .right-content {
      overflow-y: scroll; 
	    height: 100%;
	    width: 100%;
	    background-color: transparent;
      justify-content: center;
	}
}

/** 
 * iPad with landscape orientation.
 */
@media all and (max-device-width: 769px) and (max-device-height: 1024px) and (orientation:landscape){
	.about-page > .page-content > .left-content { 
		height: 100%;
		width: 100%;
		background-color: transparent;
    justify-content: center;
	}

	.about-page > .page-content > .right-content {
      overflow-y: scroll; 
	    height: 100%;
	    width: 100%;
	    background-color: transparent;
      justify-content: center;
	}
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (max-device-width: 415px) {
	.about-page > .page-content { 
		flex-direction: column;
	}

	.about-page > .page-content > .left-content { 
		height: 50%;
		width: 100%;
		background-color: transparent;
    justify-content: center;
	}

	.about-page > .page-content > .right-content {
      overflow-y: scroll; 
	    height: 50%;
	    width: 100%;
	    background-color: transparent;
	    justify-content: center;
	}

	.about-page > .page-content > .right-content > .text-container {
        font-family: "Helvetica Neue";
      text-align: center; 
	    width: 80%;
	    height: 80%;
      color: white;
      background-color: black;
      font-size: 2.5vh;
      line-height: 4vh;
      width: 80%;
	}

	.about-page > .page-content > .left-content > .image-container { 
		width: 100%;
	    height: 100%;
	}
}