i.arrow { 
    display: none;
}

.content-image-container {
    margin-top: 10vh;
    height: 80vh;
    width: 100vw;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    background-color: black;
}

.content-wrapper {
    height: 80vh;
    background-color: black;
}

.content-video-container {
    margin-top: 10vh;
    height: 80vh;
    width: 100vw;
    background-color: black;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.collection-image { 
    max-height: 80vh;
    max-width: 100%;
    width: auto!important;
    cursor: grab !important;
    cursor: -moz-grab !important !important;
    cursor: -webkit-grab !important;
    cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/openhand.cur'), n-resize; /* standard */
    cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/openhand.cur'), n-resize\9; /* IE 8 and below */
    cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/openhand.cur'), n-resize; /* IE 7 and below */
    cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/openhand.cur'), n-resize; /* IE 6 */
}

.slider-slide { 
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.scroll-image { 
    max-height: 20vw;
}

.content-info-icon {
    font-size: 3vh;
    background-color: black;
    height: 4vw;
    width: 4vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: -57px;
    margin-top: -57px;
    cursor: pointer;
}

.content-collection-slider-button {
    font-size: 3vh;
    background-color: black;
    height: 4vh;
    width: 8vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.collection-image_grabbing {
cursor: grabbing !important;
cursor: -moz-grabbing !important;
cursor: -webkit-grabbing !important;
cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/closedhand.cur'), n-resize; /* standard */
cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/closedhand.cur'), n-resize\9; /* IE 8 and below */
*cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/closedhand.cur'), n-resize; /* IE 7 and below */
_cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/closedhand.cur'), n-resize; /* IE 6 */
}

/** 
 * iPad with portrait orientation.
 */
@media all and (max-device-width: 769px) and (max-device-height: 1024px) and (orientation:portrait){
    .collection-image {
        cursor: grab;
        max-height: 100% !important;
        width: auto !important;
        max-width: 85vw;
        cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/openhand.cur'), n-resize; /* standard */
        cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/openhand.cur'), n-resize\9; /* IE 8 and below */
        cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/openhand.cur'), n-resize; /* IE 7 and below */
        cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/openhand.cur'), n-resize; /* IE 6 */
    }

    .content-info-icon {
        font-size: 3vh;
        background-color: black;
        height: 4vw;
        width: 4vw;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        display: flex;
        justify-content: center;
        margin-left: 40px;
        margin-top: 20px;
        cursor: pointer;
    }
}

/** 
 * iPad with landscape orientation.
 */
@media all and (max-device-width: 769px) and (max-device-height: 1024px) and (orientation:landscape){
    .collection-image {
        cursor: grab;
        max-height: 100% !important;
        width: auto !important;
        max-width: 85vw;
        cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/openhand.cur'), n-resize; /* standard */
        cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/openhand.cur'), n-resize\9; /* IE 8 and below */
    }

    .content-info-icon {
        font-size: 3vh;
        background-color: black;
        height: 4vw;
        width: 4vw;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        display: flex;
        justify-content: center;
        margin-left: 50px;
        margin-top: 20px;
        cursor: pointer;
    }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (max-device-width: 415px) {
    .collection-image {
        cursor: grab;
        max-height: 100% !important;
        width: auto !important;
        max-width: 68vw;
        cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/openhand.cur'), n-resize; /* standard */
        cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/openhand.cur'), n-resize\9; /* IE 8 and below */
        cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/openhand.cur'), n-resize; /* IE 7 and below */
        cursor: url('https://github.com/bqworks/slider-pro/raw/master/dist/css/images/openhand.cur'), n-resize; /* IE 6 */
    }

    .content-info-icon {
        font-size: 3vh;
        background-color: black;
        height: 4vw;
        width: 4vw;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        display: flex;
        justify-content: center;
        margin-left: 50px;
        margin-top: 15px;
        cursor: pointer;
    }
}